flows.json
[{"id":"62b6d43e.21f1f4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"af1aa8f1.fd9618","type":"watson-speech-to-text","z":"62b6d43e.21f1f4","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"TtXpTNaEuBjVRLLv783vM3_PeJGPCmaepMwxjH0K5GyL","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/b36bcbe8-af5e-442f-b347-0fa7acd7fe78","x":260,"y":100,"wires":[["cbc0103.f0834f"]]},{"id":"a356587.5d78c28","type":"debug","z":"62b6d43e.21f1f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":496.0000190734863,"y":280.99999809265137,"wires":[]},{"id":"d3497fdb.b76e68","type":"microphone","z":"62b6d43e.21f1f4","name":"","x":85.0000114440918,"y":98.99999809265137,"wires":[["af1aa8f1.fd9618"]]},{"id":"cbc0103.f0834f","type":"watson-conversation-v1","z":"62b6d43e.21f1f4","name":"Movie bot","workspaceid":"9fa783ba-acd0-43cf-86cd-8535a66621df","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/dd388df3-571b-4b57-b6f5-023ee9da9ac1","timeout":"","optout-learning":false,"x":316.00002670288086,"y":181.00000190734863,"wires":[["a356587.5d78c28","ec0fec8c.3d6018"]]},{"id":"2393bb85.2fd554","type":"ui_text","z":"62b6d43e.21f1f4","group":"7ee8f6dc.be6968","order":2,"width":"11","height":"3","name":"","label":"Response","format":"{{msg.payload}}","layout":"row-spread","x":1163.6000595092773,"y":218.2000026702881,"wires":[]},{"id":"94eecb6d.78d5b","type":"inject","z":"62b6d43e.21f1f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello","payloadType":"str","x":82.60002136230469,"y":135,"wires":[["cbc0103.f0834f"]]},{"id":"8018ab4d.c274d8","type":"function","z":"62b6d43e.21f1f4","name":"Text response parser","func":"var p=\"\"\nvar z=\"\"\nvar ut=msg.payload.output.text;\n//msg.payload=ut.length\nfor (i=0;i<ut.length;i++)\n{\np=msg.payload.output.text[i]\nz=z.concat(p,\" ,\")\n}\nmsg.payload=z\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":711.600170135498,"y":231.00000095367432,"wires":[["2393bb85.2fd554","50fcc6bd.d3d778","3ce4807a.5fb2f","403a402e.696e88"]]},{"id":"2f650388.061854","type":"ui_form","z":"62b6d43e.21f1f4","name":"","label":"","group":"7ee8f6dc.be6968","order":1,"width":0,"height":0,"options":[{"label":"User","value":"user","type":"text","required":false,"rows":null}],"formValue":{"user":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":75.00000381469727,"y":169.00000095367432,"wires":[["a768a492.dbd2f8"]]},{"id":"a768a492.dbd2f8","type":"function","z":"62b6d43e.21f1f4","name":"Input","func":"msg.payload= msg.payload.user\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":118.5999984741211,"y":245.00000190734863,"wires":[["cbc0103.f0834f"]]},{"id":"a7069ebe.be8238","type":"http request","z":"62b6d43e.21f1f4","name":"","method":"use","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":988.999927520752,"y":100.00000190734863,"wires":[["b58d3fde.6ae7d8"]]},{"id":"b58d3fde.6ae7d8","type":"base64","z":"62b6d43e.21f1f4","name":"Encode","action":"","property":"payload","x":1154.3644714355469,"y":98.99999809265137,"wires":[["b057dc21.d84bd8"]]},{"id":"b057dc21.d84bd8","type":"ui_template","z":"62b6d43e.21f1f4","group":"7ee8f6dc.be6968","name":"Display image","order":3,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1339.3643760681152,"y":98.99999809265137,"wires":[[]]},{"id":"ec0fec8c.3d6018","type":"switch","z":"62b6d43e.21f1f4","name":"","property":"payload.output.generic[0].response_type","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"},{"t":"eq","v":"option","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":531.3999671936035,"y":181,"wires":[["a4d8a28.859d3e"],["6c2880a.9c492"],["8018ab4d.c274d8"]]},{"id":"a4d8a28.859d3e","type":"function","z":"62b6d43e.21f1f4","name":"Image parser for Image Output","func":"msg={\n    \"url\":msg.payload.output.generic[0].source,\n    \"method\":\"GET\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":733.0000648498535,"y":98.99999809265137,"wires":[["a7069ebe.be8238","3868231f.dcd8fc"]]},{"id":"50fcc6bd.d3d778","type":"function","z":"62b6d43e.21f1f4","name":"Image Reset","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1282.2002143859863,"y":279.00001335144043,"wires":[["b057dc21.d84bd8"]]},{"id":"3868231f.dcd8fc","type":"function","z":"62b6d43e.21f1f4","name":"Reset Text Box","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1004.200122833252,"y":149.0000057220459,"wires":[["2393bb85.2fd554"]]},{"id":"6c2880a.9c492","type":"function","z":"62b6d43e.21f1f4","name":"Options Parser","func":"var p=\"\"\nvar z=\"\"\nvar ut=msg.payload.output.generic[0].options;\n//msg.payload=ut.length\nfor (i=0;i<ut.length;i++)\n{\np=msg.payload.output.generic[0].options[i].label\nz=z.concat(p,\" ,\")\n}\nmsg.payload=z\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":708.6000671386719,"y":170.39999961853027,"wires":[["2393bb85.2fd554","3ce4807a.5fb2f"]]},{"id":"3ce4807a.5fb2f","type":"watson-text-to-speech","z":"62b6d43e.21f1f4","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_OliviaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"P9IhzEphAHt-cRD3X7FoNSOQIzV-42BywgKeLalsSIxe","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/c8a6c0e8-b8ab-46ad-b8e2-3b8bdcbfb5c9","x":896.2000198364258,"y":544.000006198883,"wires":[["373f0681.398d72"]]},{"id":"373f0681.398d72","type":"ui_audio","z":"62b6d43e.21f1f4","name":"","group":"7ee8f6dc.be6968","voice":"","always":"","x":949.4000129699707,"y":598.000002861023,"wires":[]},{"id":"403a402e.696e88","type":"watson-translator","z":"62b6d43e.21f1f4","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"","apikey":"3nAtdyxZkSwJRRDK8d5LnOi9UNPF69kA0S97NSoi75HA","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/0377b1a0-0863-44d8-9fb8-d5de3db1cf4e","x":1195.000015258789,"y":378.00000190734863,"wires":[["48ab7d7d.b6e214"]]},{"id":"48ab7d7d.b6e214","type":"debug","z":"62b6d43e.21f1f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1499.6001167297363,"y":380.00000286102295,"wires":[]},{"id":"7ee8f6dc.be6968","type":"ui_group","z":"","name":"Movie","tab":"83f60bc6.519f58","order":1,"disp":true,"width":"11","collapse":false},{"id":"83f60bc6.519f58","type":"ui_tab","z":"","name":"Movie Bot","icon":"dashboard","disabled":false,"hidden":false}]